body {
    background-color: #0e1117;
    color: #aeb6be;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    line-height: 1.6; /* Improved readability */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Add padding for better spatial composition */
}

h1 {
    background-color: #0c4b33;
    color: #ffffff;
    font-size: 4em;
    padding: 10px 15px; /* Add padding for better spacing */
    border-radius: 8px; /* Rounded corners for modern look */
    text-align: center; /* Center text for improved presentation */
    margin-bottom: 2em; /* Space below heading */
}

label {
    margin-right: 1em;
    width: 10em;
    display: inline-grid;
    transition: color 0.3s ease;
    color: #d1d1d1; /* Lighten the label color for better readability */
}

label:hover {
    color: #c4ccd2;
}

input, textarea {
    flex: 1;
    padding: 1em;
    display: block; /* Switch to block for better control */
    width: 100%; /* Make responsive */
    max-width: 400px;
    margin-bottom: 1em; /* Space between fields */
    border: 1px solid #ccc; /* Light border for visibility */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease;
    background-color: #e2e2e2; /* Lighter background to reduce strain */
    color: #666666;
}

input:focus, textarea:focus {
    outline: none; /* Remove default outline */
    border-color: #0c4b33; /* Change border on focus */
    background-color: #f8f8f8; /* Clear background on focus */
}

input:hover, textarea:hover {
    background-color: #ffffff; /* Slightly darker hover background */
}

button {
    margin-top: 1em;
    width: 8em;
    padding: 0.8em; /* Increased padding for better size */
    background-color: #0c4b33; /* Consistent button color */
    color: #ffffff;
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c4ccd2; /* Hover effect on button */
}

div.form-group {
    margin-bottom: 1em; /* Increased margin for spacing */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.alert {
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: opacity 1s ease; /* Smooth transition */
}

.alert.success {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
}

.alert.error {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
}
